// Colors
$color-primary: #54e6af;
$color-secondary: #121725;
$color-tertiary: #c2cbe5;

// Typography
$font-family-primary: "Chivo", sans-serif;
$font-size-base: 0.9375rem;
$font-weight-base: 300;
$line-height-base: 1.5625rem;
